*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: PT serif;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #F4E409;
}
.landing-text h1{
    font-weight: bolder;
    font-style: italic;
    font-size: 50px;
}
.landing-text h2{
    font-weight: bolder;
    font-style: italic;
    font-size: 20px;
    color: black;
}